
<div *ngIf="customer">
    <h2><span jhiTranslate="mcErpApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mcErpApp.customer.name">Name</span></dt>
        <dd>
            <span>{{customer.name}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customer.address">Address</span></dt>
        <dd>
            <span>{{customer.address}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customer.phone">Phone</span></dt>
        <dd>
            <span>{{customer.phone}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customer.accountNo">Account No</span></dt>
        <dd>
            <span>{{customer.accountNo}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customer.opportunity">Opportunity</span></dt>
        <dd>
            <div *ngIf="customer.opportunityId">
                <a [routerLink]="['/opportunity-mc', customer.opportunityId]">{{customer.opportunityName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-mc/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
