<div>
    <h2>
        <span jhiTranslate="mcErpApp.contactPerson.home.title">Contact People</span>
        <button class="btn btn-primary float-right jh-create-entity create-contact-person-mc" [routerLink]="['/', { outlets: { popup: ['contact-person-mc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mcErpApp.contactPerson.home.createLabel">
            Create new Contact Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contactPeople">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.name">Name</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.role">Role</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.eMail">E Mail</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.mobile">Mobile</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.customer">Customer</span></th>
            <th><span jhiTranslate="mcErpApp.contactPerson.supplier">Supplier</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactPerson of contactPeople ;trackBy: trackId">
                <td><a [routerLink]="['../contact-person-mc', contactPerson.id ]">{{contactPerson.id}}</a></td>
                <td>{{contactPerson.name}}</td>
                <td>{{contactPerson.role}}</td>
                <td>{{contactPerson.eMail}}</td>
                <td>{{contactPerson.mobile}}</td>
                <td>
                    <div *ngIf="contactPerson.customerId">
                        <a [routerLink]="['../customer-mc', contactPerson.customerId  ]" >{{contactPerson.customerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contactPerson.supplierId">
                        <a [routerLink]="['../supplier-mc', contactPerson.supplierId  ]" >{{contactPerson.supplierId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contact-person-mc', contactPerson.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-person-mc/'+ contactPerson.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact-person-mc/'+ contactPerson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
