<div>
    <h2>
        <span jhiTranslate="mcErpApp.supplierContract.home.title">Supplier Contracts</span>
        <button class="btn btn-primary float-right jh-create-entity create-supplier-contract-mc" [routerLink]="['/', { outlets: { popup: ['supplier-contract-mc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mcErpApp.supplierContract.home.createLabel">
            Create new Supplier Contract
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplierContracts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcErpApp.supplierContract.dateSigned">Date Signed</span></th>
            <th><span jhiTranslate="mcErpApp.supplierContract.purchaseOrder">Purchase Order</span></th>
            <th><span jhiTranslate="mcErpApp.supplierContract.supplyPartContract">Supply Part Contract</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplierContract of supplierContracts ;trackBy: trackId">
                <td><a [routerLink]="['../supplier-contract-mc', supplierContract.id ]">{{supplierContract.id}}</a></td>
                <td>{{supplierContract.dateSigned | date:'medium'}}</td>
                <td>
                    <div *ngIf="supplierContract.purchaseOrderId">
                        <a [routerLink]="['../purchase-order-mc', supplierContract.purchaseOrderId  ]" >{{supplierContract.purchaseOrderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplierContract.supplyPartContractId">
                        <a [routerLink]="['../supply-part-contract-mc', supplierContract.supplyPartContractId  ]" >{{supplierContract.supplyPartContractId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../supplier-contract-mc', supplierContract.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supplier-contract-mc/'+ supplierContract.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'supplier-contract-mc/'+ supplierContract.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
