
<div *ngIf="customerProposal">
    <h2><span jhiTranslate="mcErpApp.customerProposal.detail.title">Customer Proposal</span> {{customerProposal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mcErpApp.customerProposal.name">Name</span></dt>
        <dd>
            <span>{{customerProposal.name}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerProposal.dateSubmitted">Date Submitted</span></dt>
        <dd>
            <span>{{customerProposal.dateSubmitted | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerProposal.duration">Duration</span></dt>
        <dd>
            <span>{{customerProposal.duration}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerProposal.amount">Amount</span></dt>
        <dd>
            <span>{{customerProposal.amount}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerProposal.customer">Customer</span></dt>
        <dd>
            <div *ngIf="customerProposal.customerId">
                <a [routerLink]="['/customer-mc', customerProposal.customerId]">{{customerProposal.customerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerProposal.opportunity">Opportunity</span></dt>
        <dd>
            <div *ngIf="customerProposal.opportunityId">
                <a [routerLink]="['/opportunity-mc', customerProposal.opportunityId]">{{customerProposal.opportunityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-proposal-mc/'+ customerProposal.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
