<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerOrderLabel" jhiTranslate="mcErpApp.customerOrder.home.createOrEditLabel">Create or edit a Customer Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!customerOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customerOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="customerOrder.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.dateOpened" for="field_dateOpened">Date Opened</label>
            <div class="d-flex">
                <input id="field_dateOpened" type="datetime-local" class="form-control" name="dateOpened" [(ngModel)]="customerOrder.dateOpened"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateOpened?.dirty && editForm.controls.dateOpened?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateOpened?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateOpened?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.datePaymentDue" for="field_datePaymentDue">Date Payment Due</label>
            <div class="d-flex">
                <input id="field_datePaymentDue" type="datetime-local" class="form-control" name="datePaymentDue" [(ngModel)]="customerOrder.datePaymentDue"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="customerOrder.amount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.currentStatus" for="field_currentStatus">Current Status</label>
            <select class="form-control" name="currentStatus" [(ngModel)]="customerOrder.currentStatus" id="field_currentStatus" >
                <option value="RECEIVED">{{'mcErpApp.CustomerOrderStatus.RECEIVED' | translate}}</option>
                <option value="INVOICED">{{'mcErpApp.CustomerOrderStatus.INVOICED' | translate}}</option>
                <option value="PAID">{{'mcErpApp.CustomerOrderStatus.PAID' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.proposal" for="field_proposal">Proposal</label>
            <select class="form-control" id="field_proposal" name="proposal" [(ngModel)]="customerOrder.proposalId">
                <option [ngValue]="null"></option>
                <option [ngValue]="customerProposalOption.id" *ngFor="let customerProposalOption of proposals; trackBy: trackCustomerProposalById">{{customerProposalOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mcErpApp.customerOrder.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="customerOrder.customerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
