
<div *ngIf="customerOrder">
    <h2><span jhiTranslate="mcErpApp.customerOrder.detail.title">Customer Order</span> {{customerOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mcErpApp.customerOrder.name">Name</span></dt>
        <dd>
            <span>{{customerOrder.name}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerOrder.dateOpened">Date Opened</span></dt>
        <dd>
            <span>{{customerOrder.dateOpened | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerOrder.datePaymentDue">Date Payment Due</span></dt>
        <dd>
            <span>{{customerOrder.datePaymentDue | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerOrder.amount">Amount</span></dt>
        <dd>
            <span>{{customerOrder.amount}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerOrder.currentStatus">Current Status</span></dt>
        <dd>
            <span jhiTranslate="{{'mcErpApp.CustomerOrderStatus.' + customerOrder.currentStatus}}">{{customerOrder.currentStatus}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.customerOrder.customer">Customer</span></dt>
        <dd>
            <div *ngIf="customerOrder.customerId">
                <a [routerLink]="['/customer-mc', customerOrder.customerId]">{{customerOrder.customerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-order-mc/'+ customerOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
