
<div *ngIf="supplier">
    <h2><span jhiTranslate="mcErpApp.supplier.detail.title">Supplier</span> {{supplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mcErpApp.supplier.name">Name</span></dt>
        <dd>
            <span>{{supplier.name}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.supplier.address">Address</span></dt>
        <dd>
            <span>{{supplier.address}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.supplier.domain">Domain</span></dt>
        <dd>
            <span>{{supplier.domain}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.supplier.web">Web</span></dt>
        <dd>
            <span>{{supplier.web}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.supplier.phone">Phone</span></dt>
        <dd>
            <span>{{supplier.phone}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.supplier.accountNo">Account No</span></dt>
        <dd>
            <span>{{supplier.accountNo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'supplier-mc/'+ supplier.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
