<div>
    <h2>
        <span jhiTranslate="mcErpApp.invoice.home.title">Invoices</span>
        <button class="btn btn-primary float-right jh-create-entity create-invoice-mc" [routerLink]="['/', { outlets: { popup: ['invoice-mc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mcErpApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.name">Name</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.dateIssued">Date Issued</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.amountTotal">Amount Total</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.paymentDue">Payment Due</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.customer">Customer</span></th>
            <th><span jhiTranslate="mcErpApp.invoice.customerOrder">Customer Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['../invoice-mc', invoice.id ]">{{invoice.id}}</a></td>
                <td>{{invoice.name}}</td>
                <td>{{invoice.dateIssued | date:'medium'}}</td>
                <td>{{invoice.amountTotal}}</td>
                <td>{{invoice.paymentDue}}</td>
                <td>
                    <div *ngIf="invoice.customerId">
                        <a [routerLink]="['../customer-mc', invoice.customerId  ]" >{{invoice.customerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoice.customerOrderId">
                        <a [routerLink]="['../customer-order-mc', invoice.customerOrderId  ]" >{{invoice.customerOrderName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice-mc', invoice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-mc/'+ invoice.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-mc/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
