<div>
    <h2>
        <span jhiTranslate="mcErpApp.purchaseOrder.home.title">Purchase Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-purchase-order-mc" [routerLink]="['/', { outlets: { popup: ['purchase-order-mc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mcErpApp.purchaseOrder.home.createLabel">
            Create new Purchase Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="purchaseOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.name">Name</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.dateOpened">Date Opened</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.amount">Amount</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.costCenter">Cost Center</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.paymentConditions">Payment Conditions</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.currentStatus">Current Status</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.supplier">Supplier</span></th>
            <th><span jhiTranslate="mcErpApp.purchaseOrder.supplierContract">Supplier Contract</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchaseOrder of purchaseOrders ;trackBy: trackId">
                <td><a [routerLink]="['../purchase-order-mc', purchaseOrder.id ]">{{purchaseOrder.id}}</a></td>
                <td>{{purchaseOrder.name}}</td>
                <td>{{purchaseOrder.dateOpened | date:'medium'}}</td>
                <td>{{purchaseOrder.amount}}</td>
                <td>{{purchaseOrder.costCenter}}</td>
                <td>{{purchaseOrder.paymentConditions}}</td>
                <td jhiTranslate="{{'mcErpApp.PurchaseOrderStatus.' + purchaseOrder.currentStatus}}">{{purchaseOrder.currentStatus}}</td>
                <td>
                    <div *ngIf="purchaseOrder.supplierId">
                        <a [routerLink]="['../supplier-mc', purchaseOrder.supplierId  ]" >{{purchaseOrder.supplierName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="purchaseOrder.supplierContractId">
                        <a [routerLink]="['../supplier-contract-mc', purchaseOrder.supplierContractId  ]" >{{purchaseOrder.supplierContractId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../purchase-order-mc', purchaseOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase-order-mc/'+ purchaseOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase-order-mc/'+ purchaseOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
