
<div *ngIf="productStock">
    <h2><span jhiTranslate="mcErpApp.productStock.detail.title">Product Stock</span> {{productStock.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mcErpApp.productStock.skuCode">Sku Code</span></dt>
        <dd>
            <span>{{productStock.skuCode}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.productStock.amount">Amount</span></dt>
        <dd>
            <span>{{productStock.amount}}</span>
        </dd>
        <dt><span jhiTranslate="mcErpApp.productStock.product">Product</span></dt>
        <dd>
            <div *ngIf="productStock.productId">
                <a [routerLink]="['/product-mc', productStock.productId]">{{productStock.productName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-stock-mc/'+ productStock.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
