<div>
    <h2>
        <span jhiTranslate="mcErpApp.productStock.home.title">Product Stocks</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-stock-mc" [routerLink]="['/', { outlets: { popup: ['product-stock-mc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mcErpApp.productStock.home.createLabel">
            Create new Product Stock
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productStocks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mcErpApp.productStock.skuCode">Sku Code</span></th>
            <th><span jhiTranslate="mcErpApp.productStock.amount">Amount</span></th>
            <th><span jhiTranslate="mcErpApp.productStock.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productStock of productStocks ;trackBy: trackId">
                <td><a [routerLink]="['../product-stock-mc', productStock.id ]">{{productStock.id}}</a></td>
                <td>{{productStock.skuCode}}</td>
                <td>{{productStock.amount}}</td>
                <td>
                    <div *ngIf="productStock.productId">
                        <a [routerLink]="['../product-mc', productStock.productId  ]" >{{productStock.productName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-stock-mc', productStock.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-stock-mc/'+ productStock.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-stock-mc/'+ productStock.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
